<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<a href="/home/create">등록</a> <br>

<% unless @posts.nil? %>
    <% @posts.each do |p| %>
        제목 : <%= p.title %> <br>
        내용 : <%= p.content %> <br>
        <a href="/home/modify">수정</a>
    <% end %>
<% else %>
    내용이 없습니다.
<% end %>